---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Cabin', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #19314F;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


//   / HEADER BITS

// @media(max-width:767px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base", 
        "syntax-highlighting"
;
 



// STRIPEY BITS

.paper{
	width:100%;
	padding:1.5em 0;
}

.yellow-concrete{
	background:url('/img/subtle/concrete_seamless-yellow.png'); 
}
.blue-concrete{
	background:url('/img/subtle/concrete_seamless-blue.png'); 
}

.yellow-notebook{
	background:url('/img/subtle/notebook-yellow.png'); 
}
.blue-notebook{
	background:url('/img/subtle/notebook-blue.png'); 
}
.white-nothing{
	background:#f8f8f8; 
}

// / STRIPEY BITS


//  HEADER BITS

.masthead {
	text-align:center;
	img{
		width:86%;
		padding:2em 0;

		@media (min-width: 768px) { width:60%; }
	}
}

.proposition{
	color:#fff;
	input{
		color:#000;
	}
}
 

 
#pageheader{
position: relative;
margin: 0;
background-color: #00979C;
background-image: url('/images/bg3.jpg');
background-size: cover;
background-position: top left, center center;
background-repeat: repeat,	no-repeat;
padding: 1em 0 1em 0;
text-align: center;
color: #fff;
	h1{
		font-family: 'Roboto';
	}
}


.post{
	text-align: left; 
	header{
	text-align: left;
		h1{
			font-size:3em;
		}
		p{
			text-align: left;
			font-size:1.3em;
			.meta{

			}
		}
	}
	article{
		text-align: left;
		h3{
			text-align: left;
			font-size:1.6em;
			font-weight:bold;
			padding:0.5em 0 0.2em 0;

		}
		p{
			text-align: left;
			font-size:1.3em; 
			margin:0.2em 0 1em 0;
		code{
			font-size:0.9em;  

		}

		}
		pre{
 
		}
		code{
			font-size:1.3em;  

		}
		a{
			background-color: #FFFFC3;
			color: #090919;
		}
	}
}

.sidebar{
	 
	text-align:left;
	p, h3, form{
	text-align:left;

	}
}


// HOMEPAGE

.feature-icon{
	width:2em;
}

.gallery{
	padding-bottom:2em;
}

h1{
	padding-top:1em;
}

img.footavatar{
	width:40%;
}
 
