   
<div class="paper blue-concrete">
  <div class="container " > 
    <div class="row  footer">
      <div class="col-sm-4">
        <p>&copy; <a href="http://twitter.com/stevenmilne">Steven Milne</a> and <a href="http://twitter.com/ianisted">Ian Isted</a>. </p>
         <p>Find Postduino on <a href="http://twitter.com/postduino">twitter</a>.</p>
        <p><a href="http://twitter.com/postduino"><img src="/img/avatars/postduino.jpeg" class="footavatar" title="@postduino" /></a></p>
      </div> 
      <div class="col-sm-4"> 
  

        
        <div class="row  ">
          <div class="col-sm-4"> 
            <p><a href="http://twitter.com/ianisted" ><img src="/img/avatars/ianisted.jpeg"  title="@ianisted" /></a></p> 
          </div>
          <div class="col-sm-8">
            <p>Ian Isted lives in the sticks and works as web guy for <a href="http://www.hamptonassociates.com/">Hamptons</a> in Aberdeen. He has discovered many novel combustion initiation techniques, often by accident. He does scouty things, runs an annual code retreat for the fine folk of Aberdeen, and has a seriously tricked out manshed packed with electronics.</p> 
          </div>
        </div>



      </div>
      <div class="col-sm-4"> 
 
        <div class="row  ">
          <div class="col-sm-4">
            <p><a href="http://twitter.com/stevenmilne" ><img src="/img/avatars/stevenmilne.jpeg"  title="@stevenmilne" /></a></p>
           
          </div>
          <div class="col-sm-8">
            <p>Steve Milne lives in Insch, day job as a solution architect for <a href="http://fifthring.com">Fifthring</a>. Steve successfully kickstarted <a href="http://constraints.co">Constraints Cards</a> in 2013, is a trustee of <a href="http://codethecity.org">codethecity</a>, and co-runs the annual <a href="http://northernlightsconf.co.uk/">Northern Lights Conference</a>. He enjoys nothing more than having to stop his four and six year old sons burning themselves (or each other) with the soldering iron.</p>
             </p> 
          </div>
        </div>

 

      </div>
    </div>
  </div>
</div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-59584744-1', 'auto');
      ga('send', 'pageview');
    

      $(document).ready(function(){ 
      $(".post").fitVids();
  });
    </script>
