<head>
   	<meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="The awesome arduino bits and bobs subscription thing" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="/css/themestuff/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script> 
    <script src="/js/jquery.fitvids.js"></script>
 
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/main.css" />
     <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/themestuff/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/themestuff/ie/v9.css" /><![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    
  </head>