<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


  <section id="first" class="main">
        <header>
          <div class="container">
 
            <div class="row">

{{ content }}
            </div>
          </div>
        </header>
        <div class="content dark style1 featured">
          <div class="container">
            <div class="row">
              <div class="4u">
                <section>
                  <span class="feature-icon"><span class="icon fa-wrench"></span></span>
                  <header>
                    <h3>The Uno</h3>
                  </header>
                  <p>If you want to see what it's all about,<br />why not try just one month?<br />Enjoy Postduino for just $10.</p>
                </section>
              </div>
              <div class="4u">
                <section>
                  <span class="feature-icon"><span class="icon fa-plug"></span></span>
                  <header>
                    <h3>The Tre</h3>
                  </header>
                  <p>Ready to receive a new set of parts every month for three months?<br />This is the package for you.</p>
                </section>
              </div>
              <div class="4u">
                <section>
                  <span class="feature-icon"><span class="icon fa-rocket"></span></span>
                  <header>
                    <h3>The Mega</h3>
                  </header>
                  <p>Six months of Postduino without the hassle of paying every month.<br />Plus a Mega badge on our forum.</p>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="4u">
                <footer>
                  <p>Coming soon&hellip;</p>
                </footer>
              </div>
              <div class="4u">
                <footer>
                  <p>Coming soon&hellip;</p>
                </footer>
              </div>
              <div class="4u">
                <footer>
                  <p>Coming soon&hellip;</p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </section>


     

    {% include footer.html %}

  </body>

</html>
