<!DOCTYPE HTML>
 
<html>
  
  {% include head.html %}

  <body>
 

  <div class="paper yellow-concrete">
    <div class="container " >
      <div class="row">
        <div class="col-sm-12 masthead">
          <img src="/img/identity/masthead.png" />
        </div>
      </div>
    </div>
  </div>

 



  <div class="paper blue-concrete">
    <div class="container " >
      <div class="row ">
        <div class="col-sm-6">
          <h2>Postduino is an electronics subscription service that's all about helping you get the most out of Arduinos and similar microcontroller boards.</h2> 
          <h2>We launch on Kickstarter soon</h2>
          <p>Join the list here to be first to know when we launch to ensure you get the early bird pricing.</h2>
        </div>
        <div class="col-sm-3">
          <form action="//postduino.us10.list-manage.com/subscribe/post?u=6ac9621f8fa9a915c3c850536&amp;id=1e8513aef1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              
            <div class="mc-field-group">
              <input type="email" value="" placeholder="bilbo@theshire.me" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_6ac9621f8fa9a915c3c850536_1e8513aef1" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Sign up for updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
        <div class="col-sm-3">
          <img src="/img/guides/shiftregisters.jpg" />
        </div>
      </div>
    </div>
  </div>





    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <span class="feature-icon"><span class="fa fa-wrench"></span></span>
          <header>
            <h3>The Taster</h3>
          </header>
          <p>You receive the component pack for the episode of your choice, plus all the emails, podcasts, guides, and other digital goodies we publish during season one.</p>
        </div>
        <div class="col-sm-4">
          <span class="feature-icon"><span class="fa fa-plug"></span></span>
          <header>
            <h3>The Mini</h3>
          </header>
          <p>Three episodes. You get all the emails, guides, and digital goodies, along with three collections of parts.</p>
        </div>
        <div class="col-sm-4">
          <span class="feature-icon"><span class="fa fa-rocket"></span></span>
          <header>
            <h3>Full Season One</h3>
          </header>
          <p>You receive everything that comes with season one. The delux boxed set. All the components, all the guides, all the project updates. Everything.</p>
        </div>
      </div>
    </div>


  <div class="paper yellow-concrete">
    <div class="container " >
      <div class="row podcast">
        <div class="col-sm-4">
          <h2>The Preview</h2>
          <p>As we prepare our kickstarter and write our guides we'll be releasing a new podcast every couple of weeks to keep you posted. </p>
        </div>

        <div class="col-sm-4">
          <h2>Episodes in season one.</h2>
          <ul>
            <li>Light</li>
            <li>Sound</li>
            <li>Motion</li>
            <li>Magnets</li>
            <li>Data</li>
            <li>Life</li>
          </ul>
        </div>

        <div class="col-sm-4">
         {{ content }}
        </div>

      </div>
    </div>
  </div>

  
  <div class="paper yellow-notebook">
    <div class="container " >
      <div class="row showcase">
        <div class="col-sm-4">
          <h3>Stuff we've already built</h3>
          <p>Every month users come up with new ways to use the parts we send them. The more you receive, the more you can build.</p>
          <p>Take a look at some of these cool ideas people have built.</p>
          <p>If you've been tinkering and have something to share, send it in and it might get featured on the podcast!</p>
        </div>

        <div class="col-sm-4">
          <img src="/img/general/1.jpg" alt="" />
          <img src="/img/general/2.jpg" alt="" />
        </div>

        <div class="col-sm-4">
          <img src="/img/general/3.jpg" alt="" />
          <img src="/img/general/4.jpg" alt="" />
        </div>

      </div>
    </div>
  </div>


  <div class="paper blue-concrete">
    <div class="container " >
      <div class="row">
        <div class="col-sm-12">
          <h2>Don't have an Arduino yet?</h2>
          <p>To get you started we'll ship you a helpful Starter Kit.<br />It comes complete with an Arduino Uno, breadboard, resistors, LEDs, switches, and jumper leads.</p>
          <p>Coming soon&hellip;</p>
        </div>
      </div>
    </div>
  </div>


  <div class="paper yellow-concrete">
    <div class="container " >
      <div class="row">
        <div class="col-sm-4">
          <h3>What made you want to setup Postduino?</h3>
          <p>We love all things Arduino, and want to make it easy for others to join in. Cheap parts from China drop the barrier to entry, and mean we can tinker with new project ideas without the risk of ruining expensive components.</p>
        </div>
        <div class="col-sm-4">
          <h3>Can I join in without subscribing?</h3>
          <p>Absolutely! We make subscribing easy and cheap so you know the parts you need are going to be in your bucket of bits. If you already have the parts we're using, or would just prefer to buy them yourself then go for it!</p>
        </div>
        <div class="col-sm-4">
          <h3>How do you take payments for Postduino?</h3>
          <p>We want to spend as little time as possible handling money, or worrying about business things, so all payments are handled by PayPal. Orders are sent directly to parts sellers, and shipped directly to you.</p>
        </div>
      </div>
    </div>
  </div>



 

  {% include footer.html %}


  </body>
</html>
